body{
    background-image:url("https://data.whicdn.com/images/276276325/original.gif");
    background-size:200%;
    text-align:center;
    color:#774B5C;
    padding:20px;
}
.wrapper{
    padding:20px;
}
h1{
    font-size:50px;
}
hr{
  border:1px solid Magenta;
  border-radius: 5px;
  width:60%;
}
button{
    background-color:darkcyan;
}
img{
    width:210px;
    height:200px;
}
#bunny-out{
    display:none;
}
.dude{
    display:none;
}
.yikes{
    display:none;
}